@import "/usr/share/sway/templates/waybar/style.css";
#custom-pacman,
#custom-menu,
#custom-help,
#custom-scratchpad,
#custom-github,
#custom-clipboard,
#custom-zeit,
#bluetooth,
#battery,
/* #clock, */
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#idle_inhibitor,
#backlight,
#language,
#custom-sunset,
#custom-playerctl,
#tray {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}
